<div class="footer">
    <div class="bot-footer">
        <img src="./assets/img/Idea1.png" width="50"><br />
        Copyright © Rocky43007 - 2020
    </div><br/>
    <div class="nouridio">design by <a href="https://twitter.com/Nouridio"> nouridio</a></div>
</div>
